*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 1200px;
    background-image: url(pic1.jpg);
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    gap: 50px;
    
    
}
.logo{
    margin-left: -41px;
    margin-top: 10px;
}
.head2{
    -webkit-text-fill-color: rgba(255, 255, 255, 0.947);
    display: flex;
    list-style:none;
    column-gap: 10px;
    font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left: 40px;
    align-items: center;
}
.head2 li{

    margin-top: 3%;
    
}
.head2 li:hover{
    text-decoration: underline;
    transition: 1s;
}
.head3{
    -webkit-text-fill-color: rgba(255, 255, 255, 0.947);
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 25px;
}
.head3 p{
    padding-left: 50px;
}
.buttonp1{
    color: rgb(245, 245, 250);
    width: 130px;
    height: 50px;
    font-weight: bold;
    margin-left: 150px;
    background: transparent;
    border: 1.3px solid #fff;

}
.buttonp1:hover{
    color: black;
 background-color: white;
 transition: 1s;
}

.headtext{
    padding-top: 763px;
    padding-left: 100px;
    color: rgb(248, 243, 243);
    
    margin-left: -85%;   
}
.headtext p{
    font-weight: bold;
font-size:50px;
font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
}

.picture2{
    margin: 0;
    
    background-image: url(pic2.jpg) ;
    width: 100%;
    height: 695px;
   background-size: contain;
}
.picture2 p{
    padding-top: 429px;
    padding-left: 100px;
    color: rgb(252, 249, 249);
    font-size: 19px;
}
.picture2text{
    padding-left: 100px;
    color: white;
    list-style: none;
    font-size:40px;
    font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
    font-weight: bold;
}
.buttonp2{
    color: rgb(244, 244, 246);
    width: 130px;
    height: 50px;
    font-weight: bold;
    margin-left: 150px;
    background: transparent;
    border: 1.3px solid #fff;

}
.buttonp2:hover{
    color: black;
 background-color: white;
 transition: 1s;
}

.picture3{
    background-image: url(pic3.jpg) ;
    width: 100%;
    height: 695px;
    background-size: contain;
}
.picture3 p{
    padding-left: 114px;
    padding-top: 470px;
    color: rgb(252, 249, 249);
    font-size: 19px;}
.picture3text{
    padding-left: 114px;
    color: white;
    list-style: none;
    font-size: 47px;
    font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
    font-weight: bold;
}
.buttonp3{
    color: rgb(244, 244, 248);
    width: 130px;
    height: 50px;
    font-weight: bold;
    margin-left: 150px;
    background: transparent;
    border: 1.3px solid #fff;

}
.buttonp3:hover{
    color: black;
 background-color: white;
 transition: 1s;
}
.picture4{
    background-image: url(pic4.jpg) ;
    width: 100%;
    height: 695px;
    background-size: contain;}
    .picture4 p{
        padding-left: 135px;
        padding-top: 434px;
        color: rgb(252, 249, 249);
        font-size: 19px}
    .picture4text{
        padding-left: 135px;
        color: white;
        list-style: none;
        font-size: 50px;
        font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
        font-weight: bold;
}
.buttonp4{
    color: rgb(246, 246, 250);
    width: 130px;
    height: 50px;
    font-weight: bold;
    margin-left: 150px;
    background: transparent;
    border: 1.3px solid #fff;

}
.buttonp4:hover{
    color: black;
background-color: white;
transition: 1s;
}

.foot{
    font-size:13px ;
    justify-content: center;
    padding-left: 0px;
    padding-top: 30px;
    color:white;
    width: 100%;
    height: 65px;
    display: flex;
    background-color:black;
    column-gap:15px ;
    list-style: none;
}
.foot li{
    font-weight: bold;
}
.foot li:hover{
    color: gray;

}